<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hot Springs Edit Page</h1>
	<form method="POST" action="/springs/<%=index%>?_method=PUT">
		Name: <input type="text" name="name" value="<%=springsList.name%>"/>
		Location: <input type="text" name="name" value="<%=springsList.location%>"/>
		Tempearture: <input type="text" name="name" value="<%=springsList.temperature%>"/>

		<input type="submit" value="Submit Changes"/>
	</form>

</body>
</html>