<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Hot Springs Show Page </h1>

	
	<h2><%= springs.name %><h2>
	<h3>Location: <%= springs.location %><h3>
	<h3>Temperature: <%= springs.temperature %></h3>

	<h4><a href="/springs">Back</a></h4>
	

</body>
</html>